<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Welcome,</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="ion-no-padding ion-no-border">
        <ion-thumbnail style="width: 100%; height: 100%">
            <img [src]="'assets/gifs/seja-bem-vindo.gif'">
          </ion-thumbnail>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Likes</ion-label>
    <ion-badge slot="end">99k</ion-badge>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="forgot-btn" fill="clear" [routerLink]="['/profile']">
      Go To Profile
    </ion-button>
  </ion-toolbar>
</ion-footer>
