<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'APP_NAME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'APP_NAME' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{ 'TEST_PAGE' | translate }}</strong>
    <div *ngIf="(lifeInfo$ | async)">
      <p>{{ 'HOME_PAGE.NAME' | translate }}: {{ (lifeInfo$ | async).appName }}</p>
      <p>{{ 'HOME_PAGE.VERSION' | translate }}: {{ (lifeInfo$ | async).version }}</p>
    </div>
    <p>Language: {{ getLanguage() | async }}</p>
    <ion-button (click)="setLanguage('pt')" color="primary">Portuguese(pt)</ion-button><br />
    <ion-button (click)="setLanguage('en')" color="warning">English(en)</ion-button><br />
    <ion-button (click)="getLifeInfo()" color="warning">Get Life Info</ion-button><br />
    <ion-button [routerLink]="['/login']" color="info">Start Application</ion-button><br />
  </div>
</ion-content>
